@define-color bg_color { background-color };

GtkLayout {
  background-color: transparent;
}

GtkViewport {
  background-color: transparent;
}

window {
    color: white;
    background-color: @bg_color;
    font-family: monospace;
    font-size: { font-size };
}

.container {
    padding: 10px;
}

.frame {
    border: none;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.innerbox {
    padding-bottom: 0.25em;
}

label.val {
    font-weight: bolder;
    padding-right: 0.5em;
}

label.key {
    color: #eee;
    padding-left: 0.5em;
}

progressbar {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 5px;
    padding-right: 5px;
}

trough {
    background-color: @bg_color;
    min-height: 10px;
}

progressbar > trough > progress {
    background-color: #fff;
    min-height: 10px;
}

.top-frame label {
    padding-right: 0.5em;
    padding-left:  0.5em;
}

.top-frame label:first-child {
    color: #eee;
}

.top-frame label:not(:first-child) {
    font-weight: bold;
}
